.pane-about {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
}

.pane-about > div.person {
    width: 50%;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;

}

.person > img:hover {
    opacity: 0.3;
    transition: .5s ease;
    word-wrap: break-word;
}

.person {
    margin: 10px;
    padding: 20px;
    word-wrap: break-word;
}

h2 {
    text-align: center;
    word-wrap: break-word;
}