.pane-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
    margin-left: 60px;
    margin-right: 60px;
    overflow: auto;

    // border-color: $dark-blue;
    // border-width: 1px;
    // border-style: solid;
}

.pane-about > div.person {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;

}

.person > img:hover {
    opacity: 0.3;
    transition: .5s ease;
    word-wrap: break-word;
}

.person {
    margin: 10px;
    padding: 20px;
    word-wrap: break-word;
}

h2.about-text {
    text-align: center;
    word-wrap: break-word;
    margin-top: 10%;
}