.wrapper {
    display: flex;
    flex-direction: column;
}

.readings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.readings > ul {
    list-style-type: none;
}

.readings > li {
    float: left;
}


.gen_charts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

