.header {
    background: $dark-blue;
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
}

.header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
}

.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
    img:hover {
        opacity: 0.7;
    }
}

.nav_buttons {
    justify-content: space-between;
}