div.current-dash {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding: 0.5%;
    word-wrap: break-word;

    background-color: $dark-blue-opaque;
    border-color: $dark-blue;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;

    @media (max-width: $desktop-breakpoint) {
        background-color: #faf8f8;
        border-color: #faf8f8;
    }
}

div.reading-dash {
    display: flex;
    flex-direction: row;
}

h3 {
    margin: 0;
    word-wrap: break-word;
}

h3.temp-text {
    font-size: 50pt;
    padding: 0px;
}

h3.press-text, .humid-text, .wind-text {
    padding-left: 20px;
    padding-right: 20px;
}

h3.locale-text {
    color: $dark-blue;
}

h3.press-text {
    color: $soft-red;
}

h3.humid-text {
    color: $soft-yellow;
}

h3.wind-text {
    color: $soft-green;
}

h3.wind-text span {
    color: $purple;
}