.sidebox {
    background: $blue;
    right: 0;
    position: relative;
    z-index: 1;
    color: white;
    border-style: solid;
    border-color: grey;
    border-radius: 6px;
    opacity: 0;
    visibility: hidden;
}

.sidebox-button {
    background-image: url("/images/drip.gif");
    background-position: center;
    color: white;
    text-align: center;
    font-size: 13px;
    border-style: solid;
    border-color: grey;
    position: absolute;
    right: 0px;
    top: 100px;
    width: 80px;
    pointer-events: auto;
    &:hover + .sidebox {
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        opacity: .9;
        visibility: visible;
    }
}

.tooltip {
    display: block;
    position: relative;
    z-index: 100;
}

.tooltip .left {
    min-width:400px; 
    top:330%;
    right:100%;
    margin-right:2px;
    transform:translate(0, -50%);
    padding:5px;
    background-color:#3399FF;
    font-size:13px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    border:1px solid #666666;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .left {
    visibility: visible;
    opacity: .9;
}

.tooltip .left i {
    position: absolute;
    top:50%;
    left:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}

.tooltip .left i::after {
    content:'';
    position: relative;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    background-color:#3399FF;
    border:1px solid #666666;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}