.sidebox {
    background: $blue;
    position: fixed;
    right: 0;
    top: 15%;
    z-index: -1;
    color: white;
    border-style: solid;
    border-color: grey;
    padding: 5px;
    display: block;
}

.sidebox-button {
    background-image: url("/images/drip.gif");
    background-position: center;
    color: white;
    text-align: center;
    display: block;
    position: absolute;
    border-style: solid;
    border-color: grey;
    right: 0;
    top: 20%;
    z-index: 1;
    &:hover + .sidebox {
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
        z-index: 1;
        opacity: .9;
    }
}
