.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    // Takes all of .text-input selectors and adds them here
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    // Override height inherited from .text-input
    height: 10rem;
}