// Colors
$dark-grey: #333333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #0b2450;
$dark-blue-opaque: rgba(11, 36, 80, 0.5);
$off-white: #dad8d8;
$soft-red: #F95F52;
$soft-green: #37F476;
$soft-blue: #37E3F4;
$soft-yellow: #F2B622;
$purple: #9345f9;

// Font Sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//$desktop-breakpoint: 45rem;
$desktop-breakpoint: 982px;